
/* service boxen */
.service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  max-width: 700px;
  margin: 0 auto 10px;
  overflow: hidden;
  
}

.service img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  flex: 1;
  padding: 10px 5px;
  text-align: center;
}

.service-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 5px;
}

.service-info p {
  font-size: 18px;
} 