<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beispiel Dynamic Web Server</title>
</head>

<body>
    <p>
        Hier sehen Sie alle Produkte:
    </p>
    <table width="50%">
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Kategorie</b></td>
                <td><b>Produktname</b></td>
                <td><b>Beschreibung</b></td>
                <td><b>Preis</b></td>
            </tr>
        </thead>
        <tbody>
            [DATEN]
        </tbody>
    </table>
</body>
</html>