/* layout für alle seiten */
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: #333;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 54px;
  font-weight: bold;
  
}

header .logo img {
  width: 120px;   
  height: auto;   
  display: block; /* entfernt kleinen weißen Abstand unter dem Bild */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #e3a6a1;
}

/* main */
main {
  padding: 20px 100px 180px 100px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  
}

main h1 {
  font-size: 70px;
  font-weight: 200;
}

main p {
  font-size: 22px;
}

/* footer */
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px ;
  font-size: 16px;
  
}

footer a {
  color: black;
  text-decoration: underline;
}

/* buttons */
button, .button {
  background-color: #e3a6a1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button:hover, .button:hover {
  background-color: #d18e89;
}